<% layout('layouts/boilerplate') %>
<body>
    <!-- <form action="/transaction" method="GET">
        <input type="text" name="transactionHash">
        <button>Submit</button>
    </form> -->
    <h1>Exploring Transaction Details</h1>
    <h3>Enter transaction hash.  Route:  /transaction/:transaction</h3>
    <hr>
    <h4>Details for Transaction Hash:</h4>
    <h4><%= transactionHash %> </h4>
    <hr>
    <p>
        <!--  JSON.stringify(fullTransaction)  -->
       </p>
       <hr>
       <h5>There are <%= logs.length %> log entries for this transaction</h5>
       <hr>
       <% for (let log of logs) { %>
        <div class="bg-dark text-white">
            <!-- if length of topics array equals 4, then check to see if 1st topic is a Transfer event if it is we have an erc721 transfer.  
            Last topic will be token ID.   -->
            <% for (let topic of log.topics) { %>
                    <% if (topic == transferSignatureHash) { %>
                       <pre class="bg-success">This is an ERC721 transfer event: <%= topic %></pre>
                    <% } else { %> 
                       <pre>This is NOT a transfer event: <%= topic %></pre>
                    <% } %> 
            <% } %> 
                    </div>
        <hr>
       <%}%> 

</body>